/* lear */
/* Watchlux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Colors */
body {
  background-color: #f8f9fa;
  color: #16161a;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.dark-body {
  background-color: #16161a;
  color: #f8f9fa;
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

/* Global Styles */
.btn {
  text-decoration: none;
  padding: 0.9rem 1.8rem;
  background-color: #4686f6;
  color: #f8f9fa;
}
.btn:hover {
  background-color: #3666c6;
}

.sub-header {
  padding: 4rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.sub-header .fa {
  font-size: 2.5rem;
  color: #8646f6;
  text-shadow: 0 0 1rem #8646f6;
}

p {
  line-height: 1.4rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 3rem 0;
}
.social-icons a {
  font-size: 1.4rem;
  color: #4686f6;
  text-shadow: 0 0 1rem #4686f6;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.social-icons a:hover {
  transform: translateY(-50%) scale(1.2);
  -webkit-transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
}

/* Back To Top Button */
.top-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #4686f6;
  color: #f8f9fa;
}
.top-btn:hover {
  background-color: #3666c6;
}

/* Header */
#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2666666667), rgba(0, 0, 0, 0.2666666667)), url(images/watchlux_back.jpg);
  background-size: cover;
  background-position: center;
  /* Navigation */
  /* Content */
}
#header .navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 5%;
  z-index: 999;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .navigation .logo {
  width: 160px;
  display: block;
}
#header .navigation .links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
#header .navigation .links li {
  display: inline-block;
}
#header .navigation .links li::after {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 0.1rem;
  background-color: #f8f9fa;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .navigation .links li:hover::after {
  width: 100%;
}
#header .navigation .links li a {
  text-decoration: none;
  color: #f8f9fa;
}
#header .navigation .links .switch-btn {
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 0 0.5rem;
}
#header .navigation .links .switch-btn .switch-icon {
  width: 20px;
  height: 20px;
  background-color: #9a9a9a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .navigation .links .switch-btn .icon-on {
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  background-color: #4686f6;
}
#header .navigation .close-links-btn,
#header .navigation .open-links-btn {
  display: none;
}
#header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 90%;
  margin: auto;
  color: #f8f9fa;
  text-align: center;
  gap: 2rem;
}
#header .content .title {
  font-size: 3rem;
}
#header .content .title span {
  color: #4686f6;
}

/* About Us Section */
#about {
  max-width: 90%;
  margin: 2rem auto;
}
#about .about-row {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
}
#about .about-row .about-item {
  width: 100%;
}
#about .about-row .about-item h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
#about .about-row .about-item img {
  width: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 1rem #9a9a9a;
}

/* Our Offers Section */
#offers {
  max-width: 90%;
  margin: 2rem auto;
  text-align: center;
}
#offers .offers-btn {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  margin: 2rem 0;
  cursor: pointer;
  color: #8646f6;
  background-color: transparent;
  border: 1px solid #8646f6;
}
#offers .offers-btn:hover {
  background-color: #8646f6;
  color: #f8f9fa;
}
#offers .offers-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  color: #16161a;
}
#offers .offers-row .hidden-offer {
  display: none;
}
#offers .offers-row .offers-item {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #9a9a9a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#offers .offers-row .offers-item::after {
  content: '"';
  font-size: 3rem;
  color: #4686f6;
  position: absolute;
  top: -6%;
  left: 12%;
}
#offers .offers-row .offers-item h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

/* Banner Section */
.banner {
  width: 100%;
  height: 60vh;
  box-shadow: 0 0 1rem #9a9a9a;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2666666667), rgba(0, 0, 0, 0.2666666667)), url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-left: 5%;
}
.banner h3 {
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f9fa;
}

/* Items Section */
#items {
  max-width: 90%;
  margin: 2rem auto;
  text-align: center;
}
#items .items-btn {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  margin: 2rem 0;
  cursor: pointer;
  color: #8646f6;
  background-color: transparent;
  border: 1px solid #8646f6;
}
#items .items-btn:hover {
  background-color: #8646f6;
  color: #f8f9fa;
}
#items .items-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  color: #16161a;
}
#items .items-row .hidden-item {
  display: none;
}
#items .items-row .items-item {
  box-shadow: 0 0 1rem #9a9a9a;
}
#items .items-row .items-item img {
  width: 100%;
  display: block;
}
#items .items-row .items-item .bottom-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
}
#items .items-row .items-item .bottom-side h3 {
  font-size: 1.2rem;
  font-weight: normal;
}
#items .items-row .items-item .bottom-side .btn {
  padding: 0.7rem 1.4rem;
}

/* Our Shops Section */
.shop {
  max-width: 90%;
  margin: 2rem auto;
}
.shop .shop-row {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.shop .shop-row .shop-item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.shop .shop-row .shop-item img {
  width: 100%;
  display: block;
}
.shop .shop-row .shop-item .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.shop .shop-row .shop-item .layer:hover {
  background-color: rgba(54, 102, 198, 0.4);
}
.shop .shop-row .shop-item .layer:hover h3 {
  opacity: 1;
  bottom: 48%;
}
.shop .shop-row .shop-item .layer h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  font-size: 1.4rem;
  font-weight: normal;
  color: #f8f9fa;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

/* Testimonials Section */
#testimonials {
  max-width: 90%;
  margin: 2rem auto;
  text-align: center;
}
#testimonials .testimonials-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  color: #16161a;
}
#testimonials .testimonials-row .testimonials-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1rem #9a9a9a;
  padding: 1.5rem;
  width: min(600px, 100%);
}
#testimonials .testimonials-row .testimonials-item::after {
  position: absolute;
  top: 0;
  right: 5%;
  content: ",,";
  font-size: 3rem;
  color: #4686f6;
}
#testimonials .testimonials-row .testimonials-item img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 1rem #9a9a9a;
}
#testimonials .testimonials-row .testimonials-item h3 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: normal;
}

/* Contact Us Section */
#contact {
  max-width: 90%;
  margin: 2rem auto;
}
#contact .contact-row {
  display: flex;
  justify-content: space-between;
}
#contact .contact-row .contact-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
#contact .contact-row .contact-text h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
#contact .contact-row .contact-text h3 .fa {
  color: #4686f6;
  font-size: 1.6rem;
}
#contact .contact-row form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#contact .contact-row form input,
#contact .contact-row form textarea {
  padding: 0.8rem;
}
#contact .contact-row form .contact-btn {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  margin: 2rem 0;
  cursor: pointer;
  color: #8646f6;
  background-color: transparent;
  border: 1px solid #8646f6;
  width: 160px;
  margin: auto;
}
#contact .contact-row form .contact-btn:hover {
  background-color: #8646f6;
  color: #f8f9fa;
}
#contact .frame-img {
  width: 100%;
  height: 60vh;
  border: none;
  box-shadow: 0 0 1rem #9a9a9a;
  margin: 3rem 0;
}

/* Footer Section */
.footer {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
.footer h4 {
  margin: 1rem 0 0.3rem;
  font-size: 1.2rem;
  font-weight: normal;
}

/* For Smaller Device */
@media screen and (max-width: 768px) {
  /* Navigation Links */
  .links {
    position: fixed;
    flex-direction: column;
    align-items: flex-start !important;
    background-color: #4686f6;
    height: 100vh;
    width: 150px;
    top: 0;
    right: -150px;
    gap: 1.5rem !important;
    padding: 1rem;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
  }
  .close-links-btn,
.open-links-btn {
    display: block !important;
    color: #f8f9fa;
    font-size: 1.4rem;
  }
  /* Logo */
  .logo {
    width: 120px !important;
  }
  /* Flexbox and Grid */
  .about-row,
.shop-row,
.testimonials-row,
.contact-row,
.offers-row,
.items-row {
    flex-direction: column;
    grid-template-columns: 1fr !important;
    max-width: 500px;
    margin: auto;
    gap: 2rem !important;
  }
  /* Sub Header */
  .sub-header {
    font-size: 1.6rem;
  }
  .sub-header .fa {
    font-size: 2rem;
  }
  .banner h3 {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */